*target/
*.settings
*.classpath
*bin/
*.project
/src/main/webapp/WEB-INF/transactions/
/src/main/webapp/WEB-INF/resources/
*.DS_Store
/node_modules
/.git-credentials
/npm-debug.log
/.externalToolBuilders/
/src/main/webapp/node_modules/
*.gulpfile.js
*.idea/
*.iml
*.idea/vcs.xml
*.launch
/out